.section_c1{
	width: 100%;
	height: auto;
	padding: 10px 30px;
	background-color: #FFE2E2;
	box-sizing: border-box;
}
.section_c1>p:first-child{
	color: #D92611;
	font-size: 1.5rem;
	font-weight: 600;
}
.section_c1>p:last-child{
	color: #9b9b9b;
	font-size: 1.2rem;
}




.section_c3{
	width: 100%;
	height: auto;
	background-color: #FFFFFF;
	padding: 10px 30px;
	box-sizing: border-box;
	position: relative;
}
.section_c3>p{
	font-size: 1.2rem;
}
.time_color{
	color: #9B9B9B;
	margin-top: 5px;
}
.decript_color{
	color: #DD332C;
}
.youji_car{
	position: absolute;
	left: 5px;
	top: 50%;
	font-size: 1.4rem;
	color: #9B9B9B;
	margin-top: -7px;
}
.arrow_right{
	position: absolute;
	right: 5px;
	top: 50%;
	font-size: 2.4rem;
	color: #9B9B9B;
	margin-top: -12px;
}
.dignwei{
	font-size: 1.7rem;
	margin-top: -8.5px;
}
.name_colo{
	color: #333333;
}
.order_section{
	width: 100%;
	height: auto;
	background: #FFFFFF;
}
.order_section>ul{
	width: 100%;
	height: 100%;
}
.order_section>ul>li{
	width: 100%;
	height: 100%;
}
.li_header{
	width: 100%;
	height: auto;
	padding: 5px 10px;
	box-sizing: border-box;
	border-top: 1px solid #F1F1F1;
	border-bottom: 1px solid #F1F1F1;
}
.li_header>p,.li_header>span{
	display: inline-block;
	vertical-align: middle;
}
.li_header>p{
	font-size: 1.4rem;
	color: #333333;
}
.li_header>span{
	font-size: 2.4rem;
	color: #9b9b9b;
}
.li_header>label{
	font-size: 1.2rem;
	color: #9b9b9b;
	padding: 3px 10px;
	float: right;
	border: 1px solid #F1F1F1;
	border-radius: 3px;
	box-sizing: border-box;
}
.li_mid1{
	width: 95%;
	height: auto;
	margin-left: 2.5%;
	padding: 10px 0;
	position: relative;
}
.li_mid1>img{
	width: 60px;
	height: 60px;
	border: none;
	display: inline-block;
	vertical-align: middle;
}
.li_con{
	width: 63%;
	height: 60px;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	padding-left: 5px;
}
.li_con>p{
	position: absolute;
	top: 0;
	left: 0;
	font-size: 1.3rem;
	color: #333333;
	overflow: hidden;
	text-overflow: ellipsis;
	display:-webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.li_con>div{
	position: absolute;
	bottom: 0;
	left: 0;
	font-size: 1.2rem;
	color: #9b9b9b;
}
.con_price{
	position: absolute;
	top: 10px;
	right: 0;
	font-size: 1.2rem;
	color: #9b9b9b;
}
.con_mum{
	position: absolute;
	right: 0;
	bottom: 10px;
	font-size: 1.2rem;
	color: #9b9b9b;
}
.li_mid2{
	width: 95%;
	height: auto;
	margin-left: 2.5%;
	padding: 10px 0;
}
.li_mid2_left{
	display: inline-block;
	vertical-align: middle;
	width: 50%;
	height: auto;
	text-align: left;
}
.li_mid2_left>label,.li_mid2_right>label{
	font-size: 1.2rem;
	color: #9b9b9b;
}
.li_mid2_right{
	display: inline-block;
	vertical-align: middle;
	float: right;
	width: 50%;
	height: auto;
	text-align: right;
}
.miaos_sec{
	width: 100%;
	height: auto;
	padding: 10px;
	box-sizing: border-box;
	background-color: #FFFFFF;
}
.miaos_sec_t{
	width: 100%;
	height: auto;
	padding-bottom: 10px;
	box-sizing: border-box;
	border-bottom: 1px solid #F1F1F1;
}
.miaos_sec_t>p{
	font-size: 1.2rem;
	color: #9b9b9b;
}
.miaos_sec_b{
	width: 100%;
	height: auto;
	padding-top: 10px;
	box-sizing: border-box;
}
.miaos_sec_b>label{
	font-size: 1.3rem;
}
.miaos_sec_b>label:first-child{
	color: #9b9b9b;
}
.miaos_sec_b>label:last-child{
	color: #DB271F;
}

.ghb{
	padding-top: 0;
	padding-bottom: 10px;
}
.uio{
	padding-bottom: 0;
	padding-top: 10px;
}
.uio{
	border: none;
}
.ghb{
	border-bottom: 1px solid #F1F1F1;
}
